include ICS_IPA/_DataFileIOLibraryInterface-py3.6-v4.12-32.pyd
include ICS_IPA/_DataFileIOLibraryInterface-py3.6-v4.12-64.pyd
include ICS_IPA/_DataFileIOLibraryInterface-py3.6-v4.25-64.so
include ICS_IPA/_DataFileIOLibraryInterface-py3.7-v4.12-32.pyd
include ICS_IPA/_DataFileIOLibraryInterface-py3.7-v4.12-64.pyd
include ICS_IPA/_DataFileIOLibraryInterface-py3.4-v4.25-64.so
